{% extends 'base.html' %}

{% block content %}

<div class="row">

  <h1>Frequently Asked Questions</h1>

</div>

<div class="row">

  <h2 id="access">Who can access the data?</h2>
  <p>
    NHS practices and other relevant staff in the regions which have contributed data to the project can access their data.
    This includes North Devon, Cornwall and Plymouth, with more expected soon. 
    As always, we intend to make our tools public and we hope to be able to do this shortly. 
  </p>
  
  <h2 id="get-involved">How can I see data for my region?</h2>
  <p>
    Please refer to our <a
      href="https://openpathology.net/blog/get-involved">Get Involved</a> 
    page. 
  </p>  

  <h2 id="reference-ranges">What are reference ranges?</h2>
  <p>
    For many sorts of test the results will be compared with a reference range,
    which is the range of results considered "normal". Where possible we check
    each test result against its reference range and record whether it was
    within, over or under this range.  For more detail on the many problems and
    complexities involved in reference ranges see our blog posts <a
      href="https://openpathology.net/blog/issues-with-reference-ranges-part-1">here</a>,
    <a
      href="https://openpathology.net/blog/issues-with-reference-ranges-part-2">here</a>
    and <a
      href="https://openpathology.net/blog/issues-with-reference-ranges-part-3">here</a>.
  </p>


  <h2 id="result-categories">What do the result categories and error codes mean?</h2>

  <dl>
    <dt>Within range / Under range / Over range</dt>
    <dd>
      We determined the appropriate reference range for this result and have
      coded how the result compared to this reference range.
    </dd>

    <dt>No ref range</dt>
    <dd>
      There was no reference range available for this result. This might be
      because a reference range simply doesn't make sense for this kind of
      test. Or it could be that we haven't been able to obtain a reference
      range for this test from the particular lab involved. (Note that
      different labs can have different reference ranges for a given test.)
    </dd>

    <dt>Invalid ref range</dt>
    <dd>
      We have been supplied with a reference range, but we were unable to
      interpret it correctly.
    </dd>

    <dt>Non-numeric result</dt>
    <dd>
      The result was some sort of error code, rather than a number.
    </dd>

    <dt>Unknown sex</dt>
    <dd>
      Reference ranges generally differ between male and female so if we can't
      determine the sex of the patient (e.g. it's coded as "U") then we can't
      determine which reference range to apply.
    </dd>

    <dt>Insufficient data</dt>
    <dd>
      Given the data we have we can't tell whether or not this result falls
      within the reference range. For example, if the reference range is 10-20
      and the result we have is "greater than 18" then we don't know whether
      that result was within or over range.
    </dd>

    <dt>Underage for ref range</dt>
    <dd>
      The only reference ranges we have are defined for adults. If the patient
      is under 18 then we can't compare their result to a reference range.
    </dd>
  </dl>

  <h2 id="low-numbers">What do the error bars mean?</h2>

  <p>
    To help mitigate potential privacy issues, we apply low number suppression
    to our data. In practice this means that where we have a result count
    between one and five we don't record the exact number and instead just
    record the fact that the count lies in this range.
  </p>

  <p>
    This means that many of our results come with an error range: we know that
    the true value lies between X and Y but we can't say exactly where. In
    charts we display this uncertainty using a coloured band around the line
    where this indicates the minimum and maximum possible values.
  </p>

</div>

{% endblock %}
