{% extends 'base.html' %}

{% block content %}

<div class="row">

  <h1>Frequently Asked Questions</h1>

</div>

<div class="row">

  <h2 id="access">Who can access the data?</h2>
  
  <p>
    NHS practices and other relevant staff in the regions which have contributed data to the project can access their data.
    This includes North Devon, Cornwall and Plymouth, with more expected soon. 
    As always, we intend to make our tools public and we hope to be able to do this shortly. 
  </p>
  
  <h2 id="get-involved">How can I see data for my region?</h2>
  
  <p>
    Please refer to our <a
      href="https://openpathology.net/blog/get-involved">Get Involved</a> 
    page. 
  </p>  

  <h2 id="interpret">How do I know if my practice/CCG/lab is performing well?</h2>
  
  <p>
    OpenPathology is akin to an audit and data feedback process. As with all audit and data feedback, 
    such information is best thought of as a measure rather than an indicator, 
    requiring judicious interpretation in the context of population and patient data. 
    Testing rates can be affected by many factors. A few examples may be: population demographics;
    specialisms of a practice, lab or hospital; 
    the range of tests and order sets offered by each lab; and tests required by local care pathways. 
   </p>

  <p>
    As such, making a judgement on performance is often largely down to local interpretation. 
    A good question to consider is whether the testing rate is where it is "by design" or "by accident". 
  </p>
  
  <h2 id="reference-ranges">What are reference ranges?</h2>
  
  <p>
    For many sorts of test the results will be compared with a reference range,
    which is the range of results considered "normal". Where possible we check
    each test result against its reference range and record whether it was
    within, over or under this range.  For more detail on the many problems and
    complexities involved in reference ranges see our blog posts <a
      href="https://openpathology.net/blog/issues-with-reference-ranges-part-1">here</a>,
    <a
      href="https://openpathology.net/blog/issues-with-reference-ranges-part-2">here</a>
    and <a
      href="https://openpathology.net/blog/issues-with-reference-ranges-part-3">here</a>.
  </p>


  <h2 id="result-categories">What do the result categories and error codes mean?</h2>

  <dl>
    <dt>Within range / Under range / Over range</dt>
    <dd>
      We determined the appropriate reference range for this result and have
      coded how the result compared to this reference range.
    </dd>

    <dt>No ref range</dt>
    <dd>
      There was no reference range available for this result. This might be
      because a reference range simply doesn't make sense for this kind of
      test. Or it could be that we haven't been able to obtain a reference
      range for this test from the particular lab involved. (Note that
      different labs can have different reference ranges for a given test.)
    </dd>

    <dt>Invalid ref range</dt>
    <dd>
      We have been supplied with a reference range, but we were unable to
      interpret it correctly.
    </dd>

    <dt>Non-numeric result</dt>
    <dd>
      The result was some sort of error code, rather than a number.
    </dd>

    <dt>Unknown sex</dt>
    <dd>
      Reference ranges generally differ between male and female so if we can't
      determine the sex of the patient (e.g. it's coded as "U") then we can't
      determine which reference range to apply.
    </dd>

    <dt>Insufficient data</dt>
    <dd>
      Given the data we have we can't tell whether or not this result falls
      within the reference range. For example, if the reference range is 10-20
      and the result we have is "greater than 18" then we don't know whether
      that result was within or over range.
    </dd>

    <dt>Underage for ref range</dt>
    <dd>
      The only reference ranges we have are defined for adults. If the patient
      is under 18 then we can't compare their result to a reference range.
    </dd>
  </dl>

  <h2 id="low-numbers">What do the error bars mean?</h2>

  <p>
    To help mitigate potential privacy issues, we apply low number suppression
    to our data. In practice this means that where we have a result count
    between one and five we don't record the exact number and instead just
    record the fact that the count lies in this range.
  </p>

  <p>
    This means that many of our results come with an error range: we know that
    the true value lies between X and Y but we can't say exactly where. In
    charts we display this uncertainty using a coloured band around the line
    where this indicates the minimum and maximum possible values.
  </p>

  <h2 id="lab-list-sizes">How do you calculate patient list sizes for labs?</h2>

  <p>
    Unlike practices or CCGs, labs don't have a patient list and so, strictly
    speaking, there's no such thing as a list size for a lab.  Nevertheless it
    can be useful to have a rough estimate of how many patients are "served" by
    a given lab to use as a denominator. We do this by assigning each practice
    to its "primary" lab, which we define as the lab which processes the
    majority of that practice's potassium tests, with a minimum threshold of 50
    tests in order to filter out noise. A lab's list size is then calculated as
    the sum of the list sizes of all the practices assigned to it.
  </p>

  <h2 id="ccg-list-sizes">Why is the patient list size for my CCG smaller than expected?</h2>

  <p>
    In some cases we have only partial data for a CCG because some practices
    within it use a lab which doesn't (yet) supply us with data. Including
    those practices within the total CCG list size would give a misleading
    picture. For this reason when calculating the total CCG list size we only
    include practices for which we have data (i.e. the practice code occurs at
    least once somewhere in our data).
  </p>

</div>

{% endblock %}
