{% extends 'base.html' %}

{% block content %}

<div class="row">

  <h1>Frequently Asked Questions</h1>

</div>

<div class="row">

  <h2 id="reference-ranges">What are reference ranges?</h2>
  <p>
  </p>


  <h2 id="result-categories">What do the result categories and error codes mean?</h2>

  <p>
  </p>

  <dl>
    <dt>Within range / Under range / Over range</dt>
    <dd>
      We could determine the appropriate reference range for this result and have coded how the resut compared to this
      reference range.
    </dd>

    <dt>No ref range</dt>
    <dd>
    </dd>

    <dt>Invalid ref range</dt>
    <dd>
    </dd>

    <dt>Non-numeric result</dt>
    <dd>
    </dd>

    <dt>Unknown sex</dt>
    <dd>
    </dd>

    <dt>Insufficient data</dt>
    <dd>
    </dd>

    <dt>Underage for ref range</dt>
    <dd>
    </dd>
  </dl>

</div>

{% endblock %}
